<html>
<head> <meta charset="utf-8"> </head>
<style>
  body {
    font-family: Helvetica;
  }

  table td, table td * {
      vertical-align: top;
  }
</style>
<body>
<a href='/df/index.html'>Home</a>
<table>
<tr>
<td>
<h3>Login to your dwarf!</h3>
<form action='/df/artery/authenticate' id='login'>
<p>
Login Name
<input type='text' id='name' name='name'/>
</p>
<p>
Password
<input type='text' id='password' name='password'/>
</p>
<input type='submit'/>
</form>
</td>
</tr>
<tr>
<td>
Or <a href='/df/user/new.html'>Register</a>
</td>
</tr>
</table>
</body>
</html>
